@font-face {
    font-family: 'proxima_novablack';
    src: url('fonts/proximanova-black-webfont.eot');
    src: url('fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-black-webfont.woff') format('woff'),
         url('fonts/proximanova-black-webfont.ttf') format('truetype'),
         url('fonts/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('fonts/proximanova-extrabold-webfont.eot');
    src: url('fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltregular';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltitalic';
    src: url('fonts/proximanova-lightitalic-webfont.eot');
    src: url('fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-lightitalic-webfont.woff') format('woff'),
         url('fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/proximanova-lightitalic-webfont.svg#proxima_nova_ltitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgitalic';
    src: url('fonts/proximanova-regitalic-webfont.eot');
    src: url('fonts/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regitalic-webfont.woff') format('woff'),
         url('fonts/proximanova-regitalic-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regitalic-webfont.svg#proxima_nova_rgitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url('fonts/proximanovacond-reg-webfont.eot');
    src: url('fonts/proximanovacond-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-reg-webfont.woff') format('woff'),
         url('fonts/proximanovacond-reg-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-reg-webfont.svg#proxima_nova_cn_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_cn_ltbold';
    src: url('fonts/proximanovacond-semibold-webfont.eot');
    src: url('fonts/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-semibold-webfont.woff') format('woff'),
         url('fonts/proximanovacond-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-semibold-webfont.svg#proxima_nova_cn_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_cn_ltbold_italic';
    src: url('fonts/proximanovacond-semiboldit-webfont.eot');
    src: url('fonts/proximanovacond-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-semiboldit-webfont.woff') format('woff'),
         url('fonts/proximanovacond-semiboldit-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-semiboldit-webfont.svg#proxima_nova_cn_ltbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_cn_rgbold';
    src: url('fonts/proximanovacond-bold-webfont.eot');
    src: url('fonts/proximanovacond-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-bold-webfont.woff') format('woff'),
         url('fonts/proximanovacond-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-bold-webfont.svg#proxima_nova_cn_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_cn_ltregular';
    src: url('fonts/proximanovacond-light-webfont.eot');
    src: url('fonts/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-light-webfont.woff') format('woff'),
         url('fonts/proximanovacond-light-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-light-webfont.svg#proxima_nova_cn_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_cn_ltitalic';
    src: url('fonts/proximanovacond-lightit-webfont.eot');
    src: url('fonts/proximanovacond-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-lightit-webfont.woff') format('woff'),
         url('fonts/proximanovacond-lightit-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-lightit-webfont.svg#proxima_nova_cn_ltitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltbold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltbold_italic';
    src: url('fonts/proximanova-semibolditalic-webfont.eot');
    src: url('fonts/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibolditalic-webfont.woff') format('woff'),
         url('fonts/proximanova-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibolditalic-webfont.svg#proxima_nova_ltbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_cn_blblack';
    src: url('fonts/proximanovacond-black-webfont.eot');
    src: url('fonts/proximanovacond-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-black-webfont.woff') format('woff'),
         url('fonts/proximanovacond-black-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-black-webfont.svg#proxima_nova_cn_blblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
